<a href="https://colab.research.google.com/github/Segtanof/pyfin/blob/main/Copy_of_01_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Fundamentals

A few notes before we get started:


*   The course is not a computer science course. Thus, for simplicity, we will not always use the correct terminology.
*   The course contents (and thus materials) are structured in an order that is good for *teaching*. It is not the ideal place to look things up.

## Jupyter Notebook Basics

Jupyter notebooks (like this one) are interactive code & text interfaces. You can create and edit both text and Python code cells in this  notebook. The Python code runs on a so-called environment where all the libraries and settings for Python are stored.

### How are Python and Google Colab related?
The difference between Python and many other software packages, such as Stata, is its modularity.

Take Stata for example. The code editing and code execution are done in one app. It looks the same for every user.

Python on the other hand is modular. "Python" itself only covers the code execution. The code *editing* can be done in different programs, one of which is Google Colab. Therefore, different users might both be using Python to execute their code, but the app they open can vary.

**Python:**

![image.png]()

### How to use notebooks
Jupyter notebooks structure text and code in 'cells'. The text cells are written in Markdown, the code cells can run different programming languages (here we only use Python).

To edit a text cell (like this one) double click on it.

To create a text or code cell, you can hover between two cells and create a text or code cell. Try it!

**Text cells** allow you to
- Write & edit text: make it **bold**, *italic*  or create section titles using hashtags (#). Multiple hashtags (##) allow to specify the rank of the section title.
- Make lists (like this one)
- Insert images
- Write equations using $\LaTeX$: $ \frac{1}{2} = 0.5$

**Code cells**, like the one below, allow you to write and execute code. In this notebook all code cells will be interpreted by Python.
Try executing the below code by howering to the left part of the code cell and clicking on the play button or by clicking on the cell and pressing CTRL+ENTER (CMD+ENTER on Mac)

In [1]:
"execute this cell by clicking on it and press CTRL+ENTER (CMD+ENTER on Mac)"

'execute this cell by clicking on it and press CTRL+ENTER (CMD+ENTER on Mac)'

The output of the cell will appear below the cell. In this case, you should see the text twice: once inside the code cell and once below it.

Python ignores everything after a # character. This allows you to write comments. Comments have the text color green:

In [2]:
# This is a comment. Nothing will be shown below, because it is ignored by Python

Tip: You can use the keyboard shortcut `CTRL+/` to comment and uncomment the currently selected line.

**Quick exercise**

Combine the two, text to be returned and a comment in the same cell / line

In [10]:
"text 1" #comment

'text 1'

## Variables and Data Types

### Basic Data Types

Let us now turn to the basic data types in Python.

> **Basic types**
> - integers (`int`)
- floating-point numbers (`float`)
- boolean (`bool`)
- strings (`str`)

#### Integers and floats

> Integers (`int`) and floats (`float`) are the two key data types of
numbers. Floats are used to store decimals (`1.75`).
Integers store natural numbers (`1`).

Python automatically returns the last element to the console, meaning you see the value below the cell. If we just write a number, Python will hence diplay it below again:

In [3]:
5

5

However, when we write two lines of code with two different integers, Python will return only the *last* object:

In [4]:
3
4

4

We can use the `print()` function to display values at any point in the code. The function print takes in one argument: the object that should be displayed and displays the object below the cell (to the 'console'), in the order that print has been 'called'. We will discuss functions in a later part of the course.

For now, just remember that you can see results by `print(something)`, where you put the thing to print between the parentheses.

In [5]:
print(3)
print(4)

3
4

We can also inspect the data `type` of objects by using the `type()` function:

In [6]:
type(5)

int

Python has stored the 5 as an `int`.
To create a `float` we can type 5.0 instead of 5:

In [7]:
type(5.0)

float

using the `int()` and `float()` functions we can transform integers and floats into each other:

In [8]:
int("5")

5

In [9]:
float(5)

5.0

Integers are more memory efficient, so it is good to use integers when we work with natural numbers. This is typically the case when we count things (e.g. companies, persons) or when we want indices or IDs for things (e.g. the common finance databases use integers as company IDs).

For the most part, the two are almost equivalent in our use cases.

**Quick exercise**

- Check the type of `-99`
- Check the type of `3.1`
- Convert `42` to a float
- `print` the result of converting `51.1` to an `int`

In [11]:
type(-99)

int

In [12]:
type(3.1)

float

In [14]:
type(float(42))

float

In [16]:
print(int(51.7))

51

#### Strings
> The string `str` is the data type of text. Strings can be specified using single quotes (`'`) or double quotes (`"`):

In [17]:
"University of Mannheim"
'University of Mannheim'

'University of Mannheim'

Again, Python will return the last object only.
Using the `type()` function we can also confirm that the type is indeed a `str`

In [18]:
type('University of Mannheim')

str

We can concatenate strings using the `+` operator

In [19]:
'University' + ' of ' + 'Mannheim'

'University of Mannheim'

using `\n` we can insert a line break, if the string is inside a `print()` function:

In [20]:
print("University \nof Mannheim")

University
of Mannheim

##### Escape character
As you saw, the `\n` was special. This is because of the backslack `\`, which is the *escape character*. `\n` stands for newline, therefore the text was split into multiple lines.

Another common use of `\` is to escape characters that would be interpreted by Python, but you want them to be part of your text string.

In [21]:
# The following will produce an error
"The company is called "Microsoft""

SyntaxError: invalid syntax (3134361954.py, line 2)

What went wrong? What did this look like for Python?

1. A string "The company is called "
2. A variable called `Microsoft`
3. An empty string ""

Number 2 was confusing, because the variable was not properly "connected" (by e.g. `+` or `,`) to the strings. Thus, you received an error.

What can you do about it? You can use the escape character `\` in front of the `"` for the company name, like so:

In [22]:
"The company is called \"Microsoft\""

'The company is called "Microsoft"'

Is there another way? Yes. If you want to use `"` inside your string, you can specify your string with `'`.

We can also use triple quotes (`'''`, `"""`) to start and end (multi-line) strings.

In [24]:
"""The company is called "Microsoft".
The cloud platform they own is called Azure.
I like that I don't have to type '\n' to produce newlines."""

'The company is called "Microsoft".\nThe cloud platform they own is called Azure.\nI like that I don\'t have to type \'\n\' to produce newlines.'

**Quick exercise**

`print` the above multi-line text. What is different than just returning it? How do we keep the `\n` intact?

In [29]:
print("""The company is called "Microsoft".
The cloud platform they own is called Azure.
I like that I don't have to type '\\n' to produce newlines.""")

The company is called "Microsoft".
The cloud platform they own is called Azure.
I like that I don't have to type '\n' to produce newlines.

#### Bool
The `bool` data type always has either of two values: `True` or `False`.

In [30]:
type(True)

bool

Typically such a bool is created by writing a **condition** (more on that later). A condition tests the truth value of some statement. If we want to test if 5 is equal to 3 we write (note the double `=`!)

In [31]:
3 == 3

True

Which will return `False`, a Boolean value:

In [32]:
type(5 == 3)

bool

#### None

There is also the `NoneType` which has the value `None`:

In [33]:
type(None)

NoneType

`None` is often used to indicate that data is missing, or a variable is not assigned right now, but will be created and used later.

### Assigning Variables & Calculations
> Variables store objects, such as the basic data types we discussed. Variables can be used throughout the notebook after we assign them.


To **assign** a variable, we use a variable name of our choosing to the left of the equal symbol `=` and then the object we want to store:

In [34]:
x = 3

**After execution** of the code cell, Python now knows that x is equal to 3. We can use this result from now on in the entire notebook:

In [35]:
print(x)
type(x)

3

int

> Using variables requires to first execute the code where the variable is assigned

Here we need to execute code where `x=3` is assigned and then the code that is using `x` can follow.  If we change the order, this will not work:

In [36]:
# first, run this cell
y

NameError: name 'y' is not defined

In [37]:
# second, run this cell
y=4

In [38]:
# third, run this cell
y

4

Similarly, we get an error within one cell when we use the variable before assigning it:

In [39]:
z
z=3

NameError: name 'z' is not defined

Note that the code execution stops when an error occurs. This means the `z` is not defined (and not 3) since an error occured before we assigned `z=3`. We can test this:

In [40]:
z

NameError: name 'z' is not defined

> Be very careful that the code can be executed top to bottom logically to avoid such errors in Jupyter notebooks.

We can remove assigned variables by using the `del` keyword.

In [41]:
# x is still assigned the value 3 from further above
x

3

In [42]:
del x

after that, `x` will no longer be assigned:

In [43]:
x

NameError: name 'x' is not defined

#### Rules for Variable Names
When using variable names we have to respect some rules:


**Required rules**:
- A Python variable name must start with a letter or the underscore character.
- A Python variable name cannot start with a number.
- A Python variable name can only contain alpha-numeric characters and underscores (`A-z`, `0-9`, and `_` ).
  - Valid names: `var1`, `num_shares`, `company_name`
  - Invalid names: `5_weird_ompanies`, `S&P500`
- Variable in Python names are case-sensitive (`name`, `Name`, and `NAME` are three different variables).
- The reserved words (keywords) in Python cannot be used to name the variable in Python. For example, we may not name a variable `print` or `str`

See also https://www.geeksforgeeks.org/python-variables/ for more guidance

**Recommendations**
- Usually we use small letters and underscores `the_variable_name` for variables. This is called snake case.
- Variable names should be short and descriptive. For example `course_year` is a good name but `year2002` not, if the year might change.
- Try not to start variables names with underscores, i.e. `_num_shares`. Typically, these variable names are used in specific circumstances.

#### Reassigning Variables
We can also reassign values to already defined variables.
For example, assign a value to the variable `example_string`

In [44]:
example_string = "Hello"

Then concatenate " World" to it and print the result:

In [45]:
print(example_string)
print(example_string + " World")

Hello
Hello World

The same result can be achieved by reassigning `example_string` with the concatenated "Hello World" string:

In [46]:
example_string = example_string + " World"
print(example_string)

Hello World

**Quick exercise**

- Assign the value `1` to the variable named `my_value`.
- `print` the value of `my_value`.
- `print` the type of `my_value`.
- Assign the string "Hello" to the variable `my_value`.
- `print` the value of `my_value`.
- `print` the type of `my_value`.
- Delete the variable assignment.
- Verify that it worked.

In [47]:
my_value = 1
print(my_value)
print(type(my_value))
my_value = "Hello"
print(my_value)
print(type(my_value))
del my_value
my_value

1
<class 'int'>
Hello
<class 'str'>

NameError: name 'my_value' is not defined

#### Simple calculations
Now that we now the basic data types and variables, we can also discuss simple calculations. Python natively supports the basic algebraic operations addition (using `+`), subtraction (using `-`), multiplication (using `*`) and division (using `/`):

In [48]:
x = 5
print(x + 5)
print(x - 1)
print(x * x)
print(x / x)

10
4
25
1.0

We can also assign the result of a calculation to a variable

In [49]:
y = x + 5
y

10

and we may also use parentheses `()`  as usual in algebra:

In [50]:
2 * (3 + 4)

14

There is also exponentiation (using `**`)

In [51]:
print(2*2*2*2) # Exponentiation
2**4 # Equivalently: Use **

16

16

Some of these operations also work with strings. But be careful, the results might not be what you expect at first:

- As we saw, `+` concatenates two strings

In [52]:
"5" + "3"

'53'


- Using `*` and an integer on a string repeats the string integer many times

In [53]:
"#" * 50

'##################################################'

- This also works with variables and parentheses `()`:

In [54]:
(example_string + "! ") * 2

'Hello World! Hello World! '

### Containers
Besides the basic data types, there are containers, which can store several similar or different objects:

> **Containers**
- tuples (`tuple`)
- lists (`list`)
- dictionaries (`dict`)

The containers hence store multiple objects. The individual objects within the container can be accessed by using the proper **index**.

> `tuple` and `list` are **ordered sequences** and are indexed by the position of the object within the container.

> `dict` is a **key container** and is indexed by certain 'keys'.

#### Tuples
A `tuple` is a collection of several items which can
have different data types. Tuples are created whenever different
items are separated by commas.

Here we create a tuple of the `str` 'a string', the `int` 2 and the `float` 3.0

In [55]:
tuple_example = ('a string', 2, 3.0,)
type(tuple_example)

tuple

This also works without parentheses `()`, but using parentheses is **strongly** recommended for readability

In [56]:
tuple_example_2 = 'A string', 2, 3.0
type(tuple_example_2)

tuple

In [57]:
tuple_example

('a string', 2, 3.0)

##### Indexing

To get an element from a tuple, we use the square brackets `[]` as well as the index (the position of the object within the tuple)

In [58]:
tuple_example[2] # Get the third element

3.0

Note that **Python begins counting elements at 0**: the *first* element is element number *0*.

The third element is a `float` (not a `tuple`):

In [59]:
print(tuple_example) # Let's take a look again
type(tuple_example[2]) # Type of the third element

('a string', 2, 3.0)

float

If we try to get an element that does not exist, for example the fourth element (indexed via `[3]`) in a three element tuple, we get an `IndexError`:

In [60]:
('A string', 2, 3.0)[3] # The tuple only has 3 elements

IndexError: tuple index out of range

**Quick exercise**

Multiply the first element of `tuple_example` with the third element.

In [68]:
tuple_example[0] * int(tuple_example[2])

'a stringa stringa string'

##### Slicing

The command `[2:]` tells Python to only select all elements **after and including** the third element.

Similarly, `[:2]` selects the elements **up to and excluding** the third.

This is called *slicing* and used to select ranges instead of individual elements.

In [69]:
('A string', 2, 3.0)[:2] # Selecting the first 2 (!) elements

('A string', 2)

We can use negative values to start counting from the back:

In [70]:
tuple_example[-1] # Get the last element of a tuple

3.0

The length of a container can be obtained using the `len()` function:

In [71]:
tuple_example = ('a string', 2, 3.0)
len(tuple_example) # Length of the tuple

3

We can also use square brackets `[]` to slice strings.

In [73]:
print('abcdefg'[2:]) # select all characters starting at the third
print('abcdefg'[:2]) # select all character up to the second

cdefg
ab

See here https://www.geeksforgeeks.org/string-slicing-in-python to learn more on slicing

##### Immutability

A tuple cannot be changed after it is assigned. This property is called **immutable**.

Trying to update an element raises a `TypeError`:

In [74]:
tuple_example[2] = 4

TypeError: 'tuple' object does not support item assignment

We can, however, overwrite the old tuple with a new one:

In [75]:
tuple_example = ('A string', 2, 3.0, 4)
tuple_example[3]

4

#### Lists
Lists store the same information as tuples, with the difference that they can be changed after being created, therefore lists are **mutable**. Lists are created by using square brackets `[]`

In [76]:
list_example = ['A string', 2, 3.0]
type(list_example)

list

Like tuples, the indexing works by using square brackets `[]`:

In [77]:
list_example[1:]

[2, 3.0]

Since lists are mutable, we can mutate (=change) the list elements after they are assigned:

In [78]:
list_example[0] = 'A new string'
list_example

['A new string', 2, 3.0]

Add an object to the end of the list using the `.append()` method:

In [79]:
list_example.append(4)
list_example

['A new string', 2, 3.0, 4]

We can delete entries from a list using the `del` keyword:

In [80]:
del list_example[2]
list_example

['A new string', 2, 4]

You can store anything in lists (and other data containers). So, we can have a `tuple` in a `list`, or a `list` in a `list` and so on:

In [81]:
list_example.append(tuple_example) # Add the tuple defined earlier to the list
list_example

['A new string', 2, 4, ('A string', 2, 3.0, 4)]

We can access the tuple like any other element:

In [82]:
list_example[3]

('A string', 2, 3.0, 4)

If we want the first element of the tuple, that itself is the fourth element of the list, we can index twice:

In [83]:
list_example[3][0] # Select the fourth element (a tuple) and then select the first element of that

'A string'

This nested indexing can be repeated as often as necessary. In the above example, we could repeat it one more time.
For example to get the last letter of the string:

In [84]:
list_example[3][0][-1] # Get the last letter of the string.

'g'

As you can see, with negative numbers as indexers, you can also count backwards from the end of the container element.

**Quick exercise**

- Make a new list with 4 numbers
- Check the length `len` of the list
- Make another new list with 2 numbers and the string `hello`
- Append the second list to the first list
- Now access the last two letters of the string
- Concatenate the last two letters with `ok`

In [232]:
l1 = [1,2,3,4]
len(l1)

l2 = [5,6,"helllo"]

l1.append(l2)

l1[-1][-1][-2:]

l1[-1][-1][-2:] + "ok"

'look'

In [102]:
for x in l2:
    l1.append(x)

print(l1)

[1, 2, 3, 4, [5, 6, 'helllo'], 5, 6, 'helllo']

#### Tuples vs. lists

You can think of the following analogy:

**Tuples are like your passport.**
*   Once you get it, you cannot edit the document (e.g. change your picture)
*   You can however, get a new passport with a new picture

=> You *cannot* edit the tuple itself, but you can overwrite the old variable with a fresh, new tuple

**Lists are like a shopping list**
*   You can freely edit them by adding and removing things you want to buy
*   You can also throw away the old shopping list and start with a new one

=> You *can* edit the list itself (e.g. `append`), and you can also overwrite the old variable with a fresh, new list

#### Dictionaries
A dictionary `dict` is a container that has 'keys' as index variables for its 'values'.

In a language translation dictionary (e.g. English -> French), the 'key' is your English word and the 'value' is the French word.

A dictionary is created by using curly braces `{}` and assigning each value a key according to the structure `{key1: value1, key2: value2, ...}`.

All hashable objects (`list`: no, `tuple`: yes) can be used as keys. Typically, we will use strings as keys.

The value can be any other object.

In [103]:
dict_example = {
    'Course': 'Python for Finance',
    'University': 'Mannheim',
    'Number of students': 100,
}
dict_example

{'Course': 'Python for Finance',
 'University': 'Mannheim',
 'Number of students': 100}

To get a value we can use the keys, which are 'Course', 'University' and 'Year' in this case.

In [104]:
dict_example['Number of students']

100

Dictionaries may only be indexed by existing keys:

In [105]:
dict_example['Class size']

KeyError: 'Class size'

With the method `.keys()` we get all keys of the dictionary

In [106]:
dict_example.keys()

dict_keys(['Course', 'University', 'Number of students'])

Similarly, using the `.values()` method we get all the values in the dictionary

In [107]:
dict_example.values()

dict_values(['Python for Finance', 'Mannheim', 100])

To get the first key we need to wrap the result from `keys` into a list, and select the first element:

In [113]:
list(dict_example)[0]

'Course'

The same works to index  `values`:

In [ ]:
list(dict_example.values())[0]

'Python for Finance'

The most useful method is `.items()`, which will return a list of tuples in the form `(key, value)`. This allows us to use all available data in one command.

In [126]:
dict_example.items()

dict_items([('Course', 'Python for Finance'), ('University', 'Mannheim'), ('Number of students', 100)])

In [128]:
list(dict_example.items())

[('Course', 'Python for Finance'),
 ('University', 'Mannheim'),
 ('Number of students', 100)]

In [129]:
# Let's get the first pair of data
kv_pairs = list(dict_example.items())
print(kv_pairs)
pair = kv_pairs[0]
pair

[('Course', 'Python for Finance'), ('University', 'Mannheim'), ('Number of students', 100)]

('Course', 'Python for Finance')

We can use more advanced variable assignment. `pair` is a `tuple` of length `2`. If we provide two variables to store the data in, we can extract both elements in a single line.

In [130]:
key, value = [3,4]
# Equivalent to key, value = 'Course', 'Python for Finance'

print(key)
print(value)

3
4

In [131]:
key, value = pair
# Equivalent to key, value = 'Course', 'Python for Finance'

print(key)
print(value)

Course
Python for Finance

**Quick exercise**

- Extract the tuple `('Sky', 'Blue')` into two separate variables
- `print` the course name concatenated with "I like..."
- Make a dictionary which associates "Hello" to "Bonjour".
- Then get the `values` as a `list`

In [146]:
tup = tuple(("sky", "blue"))
a = tup[0]
b = tup[1]

print(a)
print(b)

print(f"i like {list(dict_example.values())[0]}")

dict1 = {"hello": "Bonjour"}

list2 = list(dict1.values())
print(list2)

sky
blue
i like Python for Finance
['Bonjour']

In [255]:
tup = ("sky", "blue")

a, b = tup

print(f"i like {a}")

i like sky

In [257]:
tup = ("sky", "blue", "yo")
a, b, c, = tup
c

'yo'

### Conditions

With conditions, we can check the boolean value of statements.

For example, we can see that Python treats integers and floats the same way in  conditions:

In [147]:
5 == 5.0

True

But not strings:

In [148]:
"5" == 5

False

If we check for the equivalence of the *type* of an integer and float  Python will return False:

In [149]:
type(5) == type(5.0)

False

We can also check for `not` using `!=`. For example, the statement '5 is not 3' is `True`:

In [150]:
5 != 3

True

Similarly, we can check for greater than `>`, greater than or equal to `>=` and less than `<` and less than or equal to `<=`:

In [151]:
print(5 > 3)
print(5 <= 5)

True
True

Conditions and calculations can also be combined. First, calculations are evaluated and then the truth value is assessed.

In [152]:
2 * 3 - 2 == 4

True

We can use `in` to assess whether an object is inside a container. An example with a list:

In [153]:
list_example = [2, 3, 4]
3 in list_example

True

`in` may also be used to check if a character or string is in another

In [155]:
"World" in "Hello World!"

True

In [156]:
"l" in "HeLLo WorLd"

False

Using `not` we change the truth value of a `bool`

In [157]:
not True

False

If we use the `not` we can check if an object is not in a container:

In [160]:
list_example

[2, 3, 4]

In [161]:

3 not in list_example

False

In [162]:
1 not in list_example

True

The operator `is` can be used to check for identity of two objects, while `==` only checks for equality. These two concepts can differ in Python, for example the `int 3` is equivalent to the `float 3.0` but not identical:

In [163]:
a = 3
b = 3
a is b

True

In [168]:
a = 3
b = 3.0
a == b

True

In [170]:
print(a)
print(b)
a is b

3
3.0

False

In [166]:
a = (3, )
b=a

a is b

True

In [167]:
a == b

True


You can find more on `is` versus `==` on https://www.geeksforgeeks.org/difference-between-and-is-operator-in-python/

**Quick exercise**

- Check if `1` is equal to `True`, then check if it is identical
- Check if `0` is equal to `False`, then check if it is identical

Finally, we may also check if all of multiple `bool` are true using `and` (or equivalently `&`).

In [172]:
1 == True

True

In [173]:
0 == False

True

In [174]:
True and True # Check if the first AND the second are True

True

In [176]:
True and False # Check if the first AND the second are True

False

In [179]:
True or False

True

For `in`, we need to wrap each `bool` into parentheses `()` if we want to compare them with `and`:

In [180]:
list_example = [2, 3, 4]
(3 in list_example) and (4 in list_example)

True

In [181]:
not (5 in list_example) and (5 == 5)

True

We can also combine conditions with an `or`:

In [182]:
True or True # Check if the first OR the second is True

True

In [183]:
True or False # Check if the first OR the second is True

True

Note that the keywords `and`, `or`, are (for our use cases) essentially equal to `&` and `|`.

Here is an overview of the truth value testing methods:

| Expression    | Description |
| ------------- | ----------- |
| `==`          | Equal. Works for numerical values, strings, etc. |
| `!=`          | Not Equal. Works for numerical values, strings, etc. |
| `>`, `>=`, `<`,`<=` | Inequalities. Works for numerical values |
|  `a is b`, `a is not b`   | Test identity. `a is b` is `True` if `a` and `b` are the same object |
| `a in b`, `a not in b`    | Test whether `a` is or is not included in `b` where `b` is a collection |

Additionally, there are logical operators that
allow us to combine two logical values:

| Expression | Description |
| ---------- | ----------- |
| `a and b`,  `a & b` | `True` if both `a` and `b` are `True` |
| `a or b`,    `a \| b`| `True` if at least one of `a` or `b` is `True` |

### String formatting
If we want to enter the value of a variable within a string we can use the `.format()` method on the string. The arguments of the `.format()` method will be placed within the string at each use of curly braces `{}` in the order of the arguments:

In [184]:
region = "worldwide"
number_stocks = 58200
"There are approximately {} listed companies {}".format(number_stocks, region)

'There are approximately 58200 listed companies worldwide'

Alternatively, we can use 'f-strings'. To do so, write an `f` in front of a string and put the variable directly in the curly braces `{}`  to indicate that a variable is used inside the string. We can also do computations inside the curly braces `{}`:

In [185]:
x = 5
y = 1
f"If we add {x} to {y} we get {x+y}"

'If we add 5 to 1 we get 6'

You can also format numbers. For example the following `float` is not very easy to read. We can easily round it to two decimals points by adding `:.2f` after the expression.

`.2f` specifies two digits after the decimal point for floats

In [186]:
super_long_float = 3.14666566565656565565
print(f"The value is roughly {super_long_float:.2f}") # Note the ":.2f" after the expression

The value is roughly 3.15

Another common use-case is percentages.
In this case you can use `:.1%` to specify a percentage value with a single digit after the decimal point:

In [187]:
super_long_percentage = 0.3456789123455
print(f"This percentage is about {super_long_percentage:.1%}")

This percentage is about 34.6%

Click here https://www.geeksforgeeks.org/formatted-string-literals-f-strings-python/ to learn more on f-strings

# Exercises

## Exercise 1: Working with datatypes & conditions

(a) Explore what happens when you convert numbers between data types.
What happens when you convert non .0 floats to ints?

In [188]:
int(4.5)

4

(b) Define two variables "condition1" and "condition2", that are both `bool`.

- "condition1" should be the result of the check whether 5.0 is greater than 3.
- "condition2" should be the result of the check whether "hello" is in "Hello world!" (note the capitalization of the strings!)

Combine the two conditions with both `and` and `or`. Try both the keyword (e.g. `and`) and the operator (e.g. `&`).
Print the result for all 4 comparisons.

In [193]:
condition1 = 5.0 > 3
condition2 = "hello" in "Hello world!"

print(condition1 and condition2)
print(condition1 or condition2)
print(condition1)
print(condition2)
print(condition2 & condition1)
print(condition1 | condition2)

False
True
True
False
False
True

## Exercise 2: Working with containers and string formatting

(a) Create a tuple that contains two tuples with the values "a" and "b" each and assign it to a variable. Then get the "b" of the first tuple from the combined tuple.

(b) Create a dictionary that stores information about a company.
Store the following information:


*   The name is "Silverman Sachs"
*   The number of employees globally is 25843
*   The revenue is 7_800_000_000 (*note: yes you can write the number like this*)
*   The number of employees in the U.S. is 14878

Print the following information:
The company < insert name here > has a revenue of USD < insert amount here > per employee. < insert percentage here > of the employees are NOT based in the U.S.

Ensure that the dollar value is rounded to zero decimal places.
Round the percentage of non-U.S. employees to 2 decimal places.
Solve it in both the `f-string` approach, as well as the `.format()` approach.

(c) Edit the code below to get:

*   "He"
*   "lo"
*   "Worl"
*   "d"
*   0

In [197]:
t = (("a"), ("b"))
t[1]


t1 = (t, t)
t1[0][1]

'b'

In [198]:
company_info = {
    "comp_name": "Silverman Sachs",
    "employee_number": 25843,
    "rev": 7_800_000_000,
    "us_employee": 14878
}

In [215]:
print(f"the company {company_info["comp_name"]} has a revenue of USD {list(company_info.values())[2] / company_info["employee_number"] :.0f} per employee. {1 - company_info["us_employee"] / company_info["employee_number"] :.2%} of the employees are NOT based in the U.S.")

the company Silverman Sachs has a revenue of USD 301823 per employee. 42.43% of the employees are NOT based in the U.S.

In [238]:
rpe = company_info["rev"] / company_info["employee_number"]
us_percentage = company_info["us_employee"] / company_info["employee_number"]

In [246]:
print("the company {} has a revenuse of USD {:.0f} per employees. {:.2%} of the employees are NOT based in the US.".format(company_info["comp_name"], rpe, 1-us_percentage))

the company Silverman Sachs has a revenuse of USD 301823 per employees. 42.43% of the employees are NOT based in the US.

In [218]:
company_info["comp_name"]

'Silverman Sachs'

In [254]:
tuple_example = (0, ["Hello", "World"])
print(tuple_example[1][0][:2])
print(tuple_example[1][0][3:])
print(tuple_example[1][1][:4])
print(tuple_example[1][1][4])
print(tuple_example[0])

He
lo
Worl
d
0

In [263]:
False and False

False